@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Varela+Round&display=swap');
/* @import 'font/S'; */

body{
    font-family: 'Varela Round', sans-serif;
    margin: 0px;
    padding: 0px;
    color: white;
    background-color: #18191c;
}

div.nav-menu{
    font-family: 'Permanent Marker', sans-serif;
    vertical-align: top;
    width: 49%;
    display: inline-block;
}

/* Nav */
header div.nav-menu nav.menu-nav ul li.btn{
    font-family: 'Varela Round', sans-serif;
    display: inline-block;
    list-style-type: none;
    padding: 42.25px;
    padding-bottom: 36px;
    background-color: #2b2b2c;
    transition: 0.3s all;
}

/* img */
header div.nav-menu div.img img{
    padding: 20px;
    /* vertical-align: middle; */
    background-color: #2b2b2c;
}

div.img{
    display: inline-flex;
}

header div.nav-menu nav.menu-nav ul li.btn:hover{
    background-color: #444444;
    transition: 0.3s all;
}

header nav.menu-nav ul li.btn a{
    color: #fff;
    text-decoration: none;
}

header{
    background-color: #2b2b2c;
}

header img{
    width: 56.25px;
    border-radius: 50%;
}


div#content div.leftBox{
    text-decoration: none;
    vertical-align: top;
}

div#content div.leftBox a img{
    width: 160px;
}

div#content div.leftBox a{
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
}

div#content div.rightBox{
    vertical-align: top;
}

div#content div.rightBox iframe, h2{
    float: right;
}

div#content div{
    display: inline-block;
    width: 49%;
}

div#content div h1, h2, p, iframe{
    padding-left: 10px;
}

.footer{
    background-color: #2b2b2c;
    color: white;
    height: 100px;
    margin-top: 100px;
    padding-left: 10px;
    padding-top: 10px;
    vertical-align: bottom;
}

div.nav-menu div.img h3{
    margin-top: 33px;
}

nav.menu-nav ul{
    margin: 0px;
}

div#info div{
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

div#info div.discord{
    width: 49%;
    margin-top: 10px;
}

div#info div.discord iframe{
    float: right;
}

div#info div.news{
    margin-left: 10px;
}

div#info div.news h2{
    float: left;
}